#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    box-shadow: 0px 5px 15px #00000019;
    @include padding-y(1.5rem, 1.5rem);
    //@include transition(background-color, 0.2s, linear);

    &.sticky {
        background-color: var(--white-color);
    }
}

.navbar {
    @include flexbox(space-between, center);
}

.nav-search {
    width: 650px;
    display: flex;

    @include devices(lg) {
        width: 450px;
    }

    @include devices(md) {
        width: 200px;
    }

    @include devices(xs) {
        width: 120px;
    }

    input {
        border: solid 2px var(--border-form);
        width: 90%;
        height: 40px;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        text-indent: 10px;

        @include devices(lg) {
            width: 90%;
        }

        @include devices(md) {
            width: 90%;
        }

        @include devices(xs) {
            width: 80%;
        }
    }

    button {
        width: 10%;
        height: 40px;
        background: var(--main-color);
        font-size: 1.4rem;
        color: #eee;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;

        @include devices(md) {
            width: 30%;
        }

        @include devices(xs) {
            width: 20%;
        }
    }
}

.nav_logo {
    @include devices(xs) {
        font-size: 1.2rem;
    }
}

.nav_actions {
    @include flexbox($alignItems: center);
    gap: 3rem;
    font-size: 1.5rem;

    @include devices(xs) {
        gap: 2.5rem;
        font-size: 1.2rem;
    }
}

.search_action,
.cart_action,
.user_action {
    position: relative;
}

.search_action,
.cart_action {
    &:hover .tooltip {
        @include toggleVisibility(visible, 1);
    }
}

.search_action,
.user_action {
    span {
        cursor: pointer;
    }
}

.cart_action {

    .badge {
        @include centered;
        @include dimension(20px, 20px);
        position: absolute;
        top: 0;
        right: -20px;
        background-color: var(--main-color-2);
        border-radius: 50%;
    }
}

.user_action {

    .dropdown_menu {
        position: absolute;
        top: 50px;
        right: 0;
        width: 17.5rem;
        background-color: var(--bg-color-2);
        padding: 1.4rem;
        font-size: 0.9rem;
        border-radius: 3px;
        @include bordered(1px, var(--text-muted));
        @include toggleVisibility(hidden, 0);
        @include transition(all, 0.2s, ease-in-out);

        h4 {
            font-weight: 600;
            letter-spacing: 0.5px;

            a {
                color: var(--main-color);
                opacity: 0.95;

                &:hover {
                    opacity: 1;
                }
            }
        }

        p {
            font-size: 0.8rem;
            margin-top: 0.5rem;
        }

        button {
            margin-top: 1rem;
            padding: 0.8rem 1rem;
            @include bordered(1px, var(--text-muted));
            @include transition(all, 0.3s, ease);

            &:hover {
                color: #000;
                border-color: #000;
            }
        }

        li {
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            a:hover {
                color: #000;
            }
        }
    }

    &:hover .dropdown_menu {
        @include toggleVisibility(visible, 1);
    }
}

.navigation {
    @include flexbox(space-between, center);

    .btn-category {
        width: auto;
        background-color: red;
        padding: 2%;
    }
}