#page-change-password {
    margin: 2rem auto 2rem auto;

    .box-form-change-password {
        background: white;
        border-radius: 10px;
        margin: 0 auto;
        padding: 20px;

        .form-title {
            text-align: center;
            font-size: 1.2rem;
            padding: 10px 0 30px 0;
        }

        .row-form-field {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            label {
                margin-bottom: 15px;
            }

            input {
                background-color: rgba(218, 218, 218, 0.285);
                padding: 13px 20px;
                border-radius: 10px;
            }
        }

        button {
            width: 100%;
            background-color: var(--main-color);
            padding: 13px;
            border-radius: 10px;
        }
    }
}

@media only screen and (min-width: 1024px) {

    .box-form-change-password {
        width: 45%;
    }
}

@media only screen and (max-width: 1023px) {

    #page-change-password {
        //margin: 14rem auto 2rem auto;
        .box-form-change-password {
            width: 65%;
        }
    }
}
