#page-profile {
    margin: 10rem auto 0 auto;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(210, 210, 210, 0.814);
    background-color: rgb(255, 255, 255);

    .box-img{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn-upload-img{
            margin-bottom: 30px;
        }
    }
    .box-form-profile {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .form-title {
            font-size: 18px;
            text-align: center;
            font-weight: 500;
        }

        .form-profile {

            .row-form-field {
                display: flex;
                flex-direction: column;
                margin: 10px 0;

                label {
                    margin: 10px 0;
                    font-size: 0.8rem;
                }

                input, select {
                    border: none;
                    padding: 10px;
                    background-color: rgba(207, 207, 207, 0.2);
                    border-radius: 10px;
                }
            }

            .row-form {
                display: flex;
                align-items: center;
                margin: 20px 0;

                input {
                    width: 15px;
                    height: 15px;
                }

                button {
                    width: 100%;
                    height: 40px;
                    text-align: center;
                    color: aliceblue;
                    border-radius: 10px;
                    background-color: var(--main-color);
                }

                p,
                a,
                span {
                    width: 100%;
                    text-align: center;
                    margin: 10px 0;
                }

                .form-link {
                    color: var(--main-color);
                    margin-left: 6px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {

    .box-form-profile {
        width: 50%;

        .form-profile {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 1023px) {

    .box-form-profile {
        width: 100%;

        .form-profile {
            width: 90%;
        }
    }
}